# fly.toml app configuration file generated for osmic-cloud-engine on 2026-01-01T04:55:57+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'osmic-cloud-engine'
primary_region = 'fra'

[build]
[env]
  ASTRO_PRECISION_ALLOW_MOSHIER = "1"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
